:root {
  --white: #fff;
  --black: #000;
  --darkGrey: #555;
  --greyGreyText: #313131;

  /*
  * Main colour scheme
  **/

  --color-white: #fff;
  --color-black: #000;
  --color-grey-1: #333333;
  --color-grey-2: #666666;
  --color-grey-3: #767676;
  --color-grey-3-30: #76767630;
  --color-grey-4: #cccccc;
  --color-grey-5: #f3f3f3;
  --color-grey-6: #bababa;
  --color-grey-7: #9d9d9d;
  --color-grey-7-30: #9d9d9d30;
  --color-grey-8: #191919;
  --color-grey-8-80: #19191980;
  --color-grey-8-95: #19191995;
  --color-grey-9: #3d3d3d;
  --color-grey-10: #919191;
  --color-grey-11: #a2a2a2;
  --color-grey-12: #121212;

  --color-blue-1: #0570c1;
  --color-blue-1-30: #0570c130;
  --color-blue-1-50: #0570c150;
  --color-blue-2: #73a9ce;
  --color-blue-3: #f2faff;
  --color-blue-4: #e6f2fa;
  --color-blue-5: #3470c0;

  --color-green-1: #91ff5e;
  --color-green-1-30: #91ff5e30;
  --color-green-1-70: #91ff5e70;
  --color-green-2: #acff80;
  --color-green-3: #388d0f;
  --color-green-4: #2c8800;
  --color-green-5: #047b02;

  --color-red-1: #e50f0f;
  --color-red-2: #d21c29;
  --color-red-3: #ec7676;
  --color-red-4: #fce7e7;
  --color-red-5: #c50000;
  --color-red-6: #ff1010;

  --color-orange-1: #fff5e0;
  --color-orange-2: #facc62;
  --color-orange-3: #e49600;
  --color-orange-3-70: #e4960070;
  --color-orange-4: #ffaa0c;
  --color-orange-5: #bc652f;
  --color-orange-6: #914e24;
  --color-orange-7: #77350c;
}
