@import "../variables/colours";

.theme-default {
  background-color: transparent;
}

.theme-dark {
  background-color: #221c2f;
}

.theme-white {
  background-color: $white;
}

.theme-grey {
  background-color: $color-grey-2;
}

.theme-blue {
  background-color: $theme-blue;
}

.theme-green {
  background-color: var(--color-green-2);
}

.theme-black {
  background-color: $black;
}

.theme-orange-lighter {
  background-color: $color-orange-2;
}

.theme-orange {
  background-color: $color-orange-6;
}

.theme-orange-darker {
  background-color: $color-orange-7;
}

.theme-header {
  background: transparent url("/assets/images/banners/header-dark.webp") 0 0 no-repeat;
  // background: transparent url("https://res.cloudinary.com/dbez3kgxo/image/fetch/https://nuxt3-pinia-i18n-storybook.vercel.app/assets/images/banners/header-dark.webp") 0 0 no-repeat;
  background-size: cover;
}
