@import "../variables/colours";

.default {
  background-color: transparent;
}

.theme-dark {
  background-color: $color-grey-1;
}

.theme-white {
  background-color: $white;
}

.theme-grey {
  background-color: $color-grey-2;
}

.theme-blue {
  background-color: $theme-blue;
}

.theme-green {
  background-color: $color-green-2;
}
