$breakpoints: (
  mobSmall: '320px',
  mobMed: '375px',
  mobLarge: '414px',
  tabletSmall: '640px',
  tabletMed: '768px',
  tabletLarge: '1024px',
);

$mobSmall: 320;
$mobMed: 375;
$mobLarge: 414;
$tabletSmall: 640;
$tabletMed: 768;
$tabletLarge: 1024;
$desktop: 1280;
