// _variables.scss

$white: #fff;
$black: #000;
$darkGrey: #555;
$greyGreyText: #313131;

/*
* Main colour scheme
**/

$color-white: #fff;
$color-black: #000;
$color-grey-1: #333333;
$color-grey-2: #666666;
$color-grey-3: #767676;
$color-grey-4: #cccccc;
$color-grey-5: #f3f3f3;
$color-grey-6: #bababa;
$color-grey-7: #9d9d9d;
$color-grey-8: #191919;
$color-grey-9: #3d3d3d;
$color-grey-10: #919191;
$color-grey-11: #a2a2a2;
$color-grey-12: #121212;

// Blues
$color-blue-1: #0570c1;
$color-blue-2: #73a9ce;
$color-blue-3: #f2faff;
$color-blue-4: #e6f2fa;
$color-blue-5: #3470c0;

// Greens
$color-green-1: #2c8901;
$color-green-2: #6bac48;
$color-green-3: #388d0f;
$color-green-4: #2c8800;
$color-green-5: #55fd08;

// Reds
$color-red-1: #e50f0f;
$color-red-2: #d21c29;
$color-red-3: #ec7676;
$color-red-4: #fce7e7;
$color-red-5: #c50000;
$color-red-6: #ff1010;

// Oranges
$color-orange-1: #e49600;
$color-orange-2: #facc62;
$color-orange-3: #fff5e0;

$textColours: (
  "white": $white,
  "black": $black,
  "grey": $color-grey-2,
  "darkgrey": $color-grey-12,
  "error": $color-red-6,
  "green": $color-green-1,
  "orange": $color-orange-1,
);

$theme-blue: $color-blue-1;
