// @import '@/assets/styles/fonts/default-typography.scss';
@import "./scaffolding/";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 0;
}
