// @font-face {
//   font-family: "Montserrat";
//   src: local("Montserrat-Variable"), url("/assets/fonts/Montserrat-Variable.woff2") format("woff2");
//   font-display: swap;
// }

html {
  font-stretch: normal;
  font-style: normal;
  // font-family: "Montserrat", Roboto, sans-serif;
  // font-family: system-ui, sans-serif;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 67.5%;
}

code {
  font-family: monospace;
}
