@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Variable"), url("/assets/fonts/Montserrat-Variable.woff2") format("woff2");
  font-display: swap;
}

html {
  font-size: 10px;

  * * {
    font-stretch: normal;
    font-style: normal;
    font-family: "Montserrat", Roboto, sans-serif;
    // font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 67.5%;
  }
}

code {
  font-family: monospace;
}
