@import "@/assets/styles/imports.scss";

p,
code,
pre,
em,
strong,
i,
b,
a,
li,
dd,
dt,
.text-normal {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.text-small {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.7rem;
  margin: 0;
  padding-block: 1rem;
}

.text-header-large {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0;
  padding-block: 1rem;
}

.text-header-medium {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-weight: 500;
  line-height: clamp(1.4rem, 4vw, 1.6rem);
  margin: 0;
  padding-block: 1rem;
}

.header-small {
  font-size: 1.2rem;
  line-height: 1.9rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  @media only screen and (min-width: $tabletMed) {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.wght-100 {
  font-variation-settings: "wght" 100;
}

.wght-200 {
  font-variation-settings: "wght" 200;
}

.wght-300 {
  font-variation-settings: "wght" 300;
}

.wght-400 {
  font-variation-settings: "wght" 400;
}

.wght-500 {
  font-variation-settings: "wght" 500;
}

.wght-600 {
  font-variation-settings: "wght" 600;
}

.wght-700 {
  font-variation-settings: "wght" 700;
}

.wght-900 {
  font-variation-settings: "wght" 900;
}

.wght-900 {
  font-variation-settings: "wght" 900;
}

.ghost-text {
  line-height: 1cap;
  margin: 0;
  padding: 0;
}
