@import "@/assets/styles/imports.scss";

p,
button,
input,
label,
code,
pre,
em,
strong,
i,
b,
a,
li,
dd,
dt,
.text-normal {
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  font-weight: normal;
  line-height: clamp(1.9rem, 4vw, 2.2rem);
  margin: 0;
  padding-bottom: clamp(0.2rem, 4vw, 0.6rem);
  padding-top: clamp(0.2rem, 4vw, 0.6rem);
}

.text-small {
  font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: normal;
  line-height: clamp(1.7rem, 4vw, 2rem);
  margin: 0;
  padding-bottom: clamp(0rem, 4vw, 0.4rem);
  padding-top: clamp(0rem, 4vw, 0.4rem);
}

.text-header-large {
  font-size: clamp(2.2rem, 4vw, 2.6rem);
  font-weight: 700;
  line-height: clamp(2.4rem, 4vw, 2.8rem);
  margin: 0;
  padding-bottom: clamp(0.2rem, 4vw, 0.6rem);
  padding-top: clamp(0.2rem, 4vw, 0.6rem);
}

.text-header-medium {
  font-size: clamp(1.4rem, 4vw, 1.6rem);
  font-weight: 700;
  line-height: clamp(1.4rem, 4vw, 1.6rem);
  margin: 0;
  padding-bottom: clamp(0.2rem, 4vw, 0.6rem);
  padding-top: clamp(0.2rem, 4vw, 0.6rem);
}

.header-small {
  font-size: 1.2rem;
  line-height: 1.9rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  @media only screen and (min-width: $tabletMed) {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}

.font-700 {
  font-variation-settings: "wght" 700;
}
